@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff?v=79507") format("woff");
  font-weight: normal;
  font-style: normal; }
[class*="icon-"]:before {
  position: relative;
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak-as: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-zoom:before {
  content: "\61"; }

.icon-menu:before {
  content: "\62"; }

.icon-magazine-open:before {
  content: "\63"; }

.icon-dollar-sign:before {
  content: "\64"; }

.icon-credit-card:before {
  content: "\65"; }

.icon-magazine-cover:before {
  content: "\66"; }

/***********END fonts************/
/***********END VARIABLES************/
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  text-decoration: none; }

body,
button,
ul,
figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 22px;
  background: black; }

ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px; }

input[type="reset"],
input[type="submit"],
button {
  appearance: none;
  border: 0;
  cursor: pointer;
  transition: 0.35s; }

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.35s; }

a img {
  display: block;
  border: 0; }

img {
  image-rendering: optimizequality;
  image-rendering: -webkit-optimize-contrast; }

iframe {
  display: block;
  width: 100%; }

table {
  border-collapse: collapse; }

small {
  font-size: 80%; }

/***********END GLOBAL************/
h2 {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background: #333333;
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
  padding: 15px 0;
  margin: 20px 0; }
  @media (max-width: 767px) {
    h2 {
      font-size: 20px; } }

.container {
  margin: auto;
  width: 100%;
  max-width: 768px;
  padding: 0 15px; }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.modal-nav {
  display: block;
  display: flex;
  flex-direction: column;
  background: #222;
  padding: 10px;
  position: fixed;
  z-index: 9;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  transition: 0.35s; }
  .modal-nav.show-menu {
    left: 0px; }
    .modal-nav.show-menu .icon-menu {
      position: initial; }
  @media (min-width: 1200px) {
    .modal-nav {
      left: 0; } }
  .modal-nav [class*="icon-"] {
    background: black;
    color: white;
    width: 35px;
    height: 35px;
    padding: 6px;
    margin: 2px; }
    .modal-nav [class*="icon-"]:hover {
      background: white;
      color: black; }
      .modal-nav [class*="icon-"]:hover span {
        left: 30px; }
    .modal-nav [class*="icon-"] span {
      background: white;
      color: black;
      font-size: 14px;
      text-transform: uppercase;
      padding: 9px;
      position: relative;
      bottom: 33px;
      left: -100px;
      z-index: -1;
      box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
      transition: 0.35s; }
  .modal-nav .icon-menu {
    position: relative;
    left: 48px;
    background: #555;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2); }
    @media (min-width: 1200px) {
      .modal-nav .icon-menu {
        display: none; } }

#modal {
  display: none; }

@media (min-width: 1200px) {
  #cards {
    display: flex;
    flex-direction: column;
    min-height: 610px; } }
#cards header {
  padding: 20px 0px 5px 0px;
  text-align: center; }
  @media (max-width: 767px) {
    #cards header {
      padding-top: 50px; } }
#cards h1 {
  font-size: 50px;
  color: white;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    #cards h1 {
      font-size: 24px; } }
@media (min-width: 1200px) {
  #cards .container {
    display: flex; } }
#cards .container .card-box {
  display: flex;
  justify-content: space-between;
  margin: 15px 0; }
  #cards .container .card-box div img {
    width: 100%;
    max-width: 325px; }
    @media (max-width: 767px) {
      #cards .container .card-box div img {
        width: 95%; } }
  #cards .container .card-box + .card-box div img {
    width: 100%;
    max-width: 200px; }
    @media (max-width: 767px) {
      #cards .container .card-box + .card-box div img {
        width: 95%; } }
#cards footer .cards-box {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  margin: 25px auto;
  border-radius: 8px; }
  #cards footer .cards-box img {
    width: 100%; }

@media (min-width: 1200px) {
  #magazine-details .container {
    display: flex;
    flex-wrap: wrap; } }
#magazine-details .container .detail {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #565656;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    #magazine-details .container .detail {
      flex-direction: column;
      align-items: center; } }
  @media (min-width: 1200px) {
    #magazine-details .container .detail {
      width: 33%; } }
  #magazine-details .container .detail:nth-child(13) {
    border-bottom: 0px; }
  #magazine-details .container .detail div {
    flex: 4;
    color: #bbb;
    font-size: 18px;
    line-height: 20px; }
    #magazine-details .container .detail div + div {
      flex: 6;
      margin-left: 20px; }
      @media (min-width: 1200px) {
        #magazine-details .container .detail div + div {
          margin: 0 15px 0 10px; } }
      #magazine-details .container .detail div + div p {
        font-size: 16px; }
        @media (min-width: 1200px) {
          #magazine-details .container .detail div + div p {
            font-size: 14px; } }
      @media (max-width: 767px) {
        #magazine-details .container .detail div + div {
          margin-left: 0px;
          max-width: 250px; } }
      @media (min-width: 1200px) {
        #magazine-details .container .detail div + div {
          flex: auto;
          width: 150px; } }
    #magazine-details .container .detail div img {
      width: 100%;
      max-width: 250px;
      outline: 1px solid #222222; }
    #magazine-details .container .detail div h3 {
      font-size: 28px;
      line-height: 40px;
      text-transform: uppercase;
      color: yellow; }
      @media (min-width: 1200px) {
        #magazine-details .container .detail div h3 {
          font-size: 24px;
          line-height: 28px; } }
    #magazine-details .container .detail div strong {
      line-height: 40px; }
#magazine-details footer {
  color: #cccccc;
  background: #333333;
  padding: 15px; }
  #magazine-details footer .container {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      #magazine-details footer .container {
        flex-direction: column; } }
    #magazine-details footer .container h5 {
      font-size: 30px;
      line-height: 60px; }
      @media (max-width: 767px) {
        #magazine-details footer .container h5 {
          font-size: 26px;
          line-height: 40px; } }
    #magazine-details footer .container img {
      width: 100%;
      max-width: 400px; }

#magazines header {
  width: 100%;
  margin: 60px 0 0 0;
  padding: 15px 0px 5px 0px;
  border-top: 1px solid #797979;
  background: #222; }
  #magazines header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 768px; }
  #magazines header .header-box {
    display: flex;
    align-items: center;
    max-width: 130px;
    max-height: 180px;
    margin-right: 15px; }
  #magazines header img {
    width: 100%; }
#magazines h4 {
  font-size: 22px;
  color: #cccccc;
  text-transform: uppercase;
  text-align: center;
  background: #333333;
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
  padding: 5px 0;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    #magazines h4 {
      font-size: 13px; } }
#magazines article.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #magazines article.container div {
    width: 25%;
    max-width: 173px;
    margin-bottom: 15px; }
    @media (max-width: 767px) {
      #magazines article.container div {
        width: 49%; } }
    #magazines article.container div img {
      width: 100%;
      outline: 1px solid #222222; }
    #magazines article.container div .img-interactions {
      display: flex;
      justify-content: space-between;
      margin-top: -4px;
      /** CHECKBOX FLAT **/
      /** END CHECKBOX FLAT **/ }
      #magazines article.container div .img-interactions .icon-magazine-open {
        color: #555; }
      #magazines article.container div .img-interactions .contain {
        position: relative;
        right: 25px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        #magazines article.container div .img-interactions .contain input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0; }
        #magazines article.container div .img-interactions .contain:hover input ~ .checkmark {
          background-color: #ccc; }
        #magazines article.container div .img-interactions .contain input:checked ~ .checkmark {
          background-color: #2196F3; }
        #magazines article.container div .img-interactions .contain input:checked ~ .checkmark:after {
          display: block; }
        #magazines article.container div .img-interactions .contain .checkmark:after {
          left: 7px;
          top: 2px;
          width: 9px;
          height: 15px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
      #magazines article.container div .img-interactions .checkmark {
        position: absolute;
        top: 0;
        left: 3px;
        height: 22px;
        width: 22px;
        background-color: #555; }
        #magazines article.container div .img-interactions .checkmark:after {
          content: "";
          position: absolute;
          display: none; }

@media (min-width: 1200px) {
  #magazines-choosed article {
    display: flex; } }
#magazines-choosed article .magazines-hide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 1200px) {
    #magazines-choosed article .magazines-hide {
      justify-content: flex-start;
      min-height: 500px; } }
  #magazines-choosed article .magazines-hide div {
    display: none;
    width: 32%;
    max-width: 236px;
    margin-bottom: 15px; }
    @media (min-width: 1200px) {
      #magazines-choosed article .magazines-hide div {
        margin-left: 5px;
        margin-bottom: 5px; }
        #magazines-choosed article .magazines-hide div:nth-child(4n+1) {
          margin-left: 0px; } }
    #magazines-choosed article .magazines-hide div img {
      width: 100%;
      outline: 1px solid #222222; }
#magazines-choosed article form {
  text-align: center;
  border-top: 1px solid #797979;
  padding: 25px 0; }
  @media (min-width: 1200px) {
    #magazines-choosed article form {
      border-top: 0px;
      padding: 0px; } }
  #magazines-choosed article form .text-fields {
    display: flex;
    justify-content: space-between; }
    #magazines-choosed article form .text-fields [class*='fields-'] {
      width: 48%; }
    #magazines-choosed article form .text-fields .fields-value input {
      color: #888; }
  #magazines-choosed article form .text-months {
    display: flex;
    justify-content: space-between; }
    #magazines-choosed article form .text-months div {
      width: 48%;
      color: yellow; }
      #magazines-choosed article form .text-months div + div input {
        color: #888; }
      #magazines-choosed article form .text-months div + div label {
        color: #888; }
    #magazines-choosed article form .text-months label {
      font-size: 54px; }
      @media (max-width: 767px) {
        #magazines-choosed article form .text-months label {
          font-size: 30px; } }
  #magazines-choosed article form input {
    width: 100%;
    font-size: 66px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    margin-bottom: 10px;
    border: 0px;
    color: yellow;
    border-bottom: 1px solid #565656; }
    @media (max-width: 767px) {
      #magazines-choosed article form input {
        font-size: 30px; } }
    #magazines-choosed article form input.clean {
      width: auto;
      font-size: 16px;
      font-weight: 100;
      text-transform: uppercase;
      color: white;
      background: #555;
      border: 0px;
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px; }
      #magazines-choosed article form input.clean:hover {
        color: black;
        background: white; }

/*# sourceMappingURL=style.css.map */
