@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
@font-face {
  font-family: "icons";
  src: url("fonts/icons.woff?v=35844") format("woff");
  font-weight: normal;
  font-style: normal; }
[class*="icon-"]:before {
  position: relative;
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak-as: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-up:before {
  content: "\61"; }

.icon-arrow-left:before {
  content: "\62"; }

.icon-book:before {
  content: "\63"; }

.icon-zoom:before {
  content: "\64"; }

/***********END fonts************/
/***********END VARIABLES************/
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  text-decoration: none; }

body,
button,
ul,
figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 22px;
  background: black; }

ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px; }

input[type="reset"],
input[type="submit"],
button {
  appearance: none;
  border: 0;
  cursor: pointer;
  transition: 0.35s; }

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.35s; }

a img {
  display: block;
  border: 0; }

img {
  image-rendering: optimizequality;
  image-rendering: -webkit-optimize-contrast; }

iframe {
  display: block;
  width: 100%; }

table {
  border-collapse: collapse; }

small {
  font-size: 80%; }

/***********END GLOBAL************/
h2 {
  font-size: 30px;
  color: #cccccc;
  text-transform: uppercase;
  text-align: center;
  background: #333333;
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
  padding: 15px 0;
  margin: 20px 0; }

.container {
  margin: auto;
  width: 100%;
  max-width: 768px;
  padding: 0 15px; }

.modal-nav {
  display: block;
  display: flex;
  flex-direction: column;
  background: #ccc;
  border: 1px solid #797979;
  padding: 15px;
  width: 80px;
  height: 190px;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

#modal {
  display: none; }

#cards header {
  padding: 20px 0px 5px 0px;
  text-align: center; }
#cards h1 {
  font-size: 50px;
  color: white;
  text-transform: uppercase; }
#cards .card-box {
  display: flex;
  justify-content: space-between;
  margin: 15px 0; }
  #cards .card-box div img {
    width: 100%;
    max-width: 325px; }
  #cards .card-box + .card-box div img {
    width: 100%;
    max-width: 200px; }
#cards footer .cards-box {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  margin: 25px auto;
  border-radius: 8px; }
  #cards footer .cards-box img {
    width: 100%; }

#magazine-details .detail {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #565656;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  #magazine-details .detail:nth-child(13) {
    border-bottom: 0px; }
  #magazine-details .detail div {
    flex: 4;
    color: #bbb;
    font-size: 18px;
    line-height: 20px; }
    #magazine-details .detail div + div {
      flex: 6; }
    #magazine-details .detail div img {
      width: 250px;
      outline: 1px solid #222222; }
    #magazine-details .detail div h3 {
      font-size: 28px;
      line-height: 40px;
      text-transform: uppercase;
      color: yellow; }
    #magazine-details .detail div strong {
      line-height: 40px; }
#magazine-details footer {
  color: #cccccc;
  background: #333333;
  padding: 15px; }
  #magazine-details footer .container {
    display: flex;
    justify-content: space-between; }
    #magazine-details footer .container h5 {
      font-size: 30px;
      line-height: 60px; }

#magazines header {
  width: 100%;
  margin: 60px 0 0 0;
  padding: 15px 0px 5px 0px;
  border-top: 1px solid #797979;
  background: #222; }
  #magazines header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  #magazines header .header-box {
    width: 130px;
    margin-right: 15px; }
    #magazines header .header-box img {
      width: 100%; }
#magazines h4 {
  font-size: 22px;
  color: #cccccc;
  text-transform: uppercase;
  text-align: center;
  background: #333333;
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
  padding: 5px 0;
  margin-bottom: 20px; }
#magazines article.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #magazines article.container div {
    width: 25%;
    max-width: 173px;
    margin-bottom: 10px; }
    #magazines article.container div img {
      width: 100%;
      outline: 1px solid #222222; }
    #magazines article.container div .img-interactions {
      display: flex;
      justify-content: space-between;
      /** CHECKBOX FLAT **/
      /** END CHECKBOX FLAT **/ }
      #magazines article.container div .img-interactions .contain {
        position: relative;
        right: 25px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        #magazines article.container div .img-interactions .contain input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0; }
        #magazines article.container div .img-interactions .contain:hover input ~ .checkmark {
          background-color: #ccc; }
        #magazines article.container div .img-interactions .contain input:checked ~ .checkmark {
          background-color: #2196F3; }
        #magazines article.container div .img-interactions .contain input:checked ~ .checkmark:after {
          display: block; }
        #magazines article.container div .img-interactions .contain .checkmark:after {
          left: 9px;
          top: 2px;
          width: 9px;
          height: 15px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
      #magazines article.container div .img-interactions .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee; }
        #magazines article.container div .img-interactions .checkmark:after {
          content: "";
          position: absolute;
          display: none; }

#magazines-choosed .magazines-hide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #magazines-choosed .magazines-hide div {
    display: block;
    width: 33%;
    max-width: 236px;
    margin-bottom: 15px; }
    #magazines-choosed .magazines-hide div img {
      width: 100%;
      outline: 1px solid #222222; }
#magazines-choosed form {
  text-align: center;
  border-top: 1px solid #797979;
  padding: 30px 0; }
  #magazines-choosed form .text-fields {
    display: flex;
    justify-content: space-between; }
    #magazines-choosed form .text-fields [class*='fields-'] {
      width: 48%; }
    #magazines-choosed form .text-fields .fields-value input {
      color: #888; }
    #magazines-choosed form .text-fields input {
      width: 100%;
      font-size: 66px;
      font-weight: bold;
      text-align: center;
      background: transparent;
      margin-bottom: 10px;
      border: 0px;
      color: yellow;
      border-bottom: 1px solid #565656; }
  #magazines-choosed form .text-months {
    display: flex;
    justify-content: space-between; }
    #magazines-choosed form .text-months div {
      width: 48%;
      color: yellow; }
      #magazines-choosed form .text-months div + div input {
        color: #888; }
    #magazines-choosed form .text-months label {
      font-size: 54px; }
    #magazines-choosed form .text-months input {
      width: 50%;
      font-size: 66px;
      font-weight: bold;
      text-align: center;
      background: transparent;
      margin-bottom: 10px;
      border: 0px;
      color: yellow;
      border-bottom: 1px solid #565656; }
  #magazines-choosed form .clean {
    text-transform: uppercase;
    color: white;
    background: #555;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px; }
    #magazines-choosed form .clean:hover {
      color: black;
      background: white; }

/*# sourceMappingURL=style.css.map */
