#cards {
    @include device(full) {
        display: flex;
        flex-direction: column;
        min-height: 610px;
    }
    header {
        padding: 20px 0px 5px 0px;
        text-align: center;
        @include device(mobile) {
            padding-top: 50px;
        }
    }
    h1 {
        font-size: 50px;
        color: white;
        text-transform: uppercase;
        @include device(mobile) {
            font-size: 24px;
        }
    }
    .container {
        @include device(full) {
            display: flex;
        }
        .card-box {
            display: flex;
            justify-content: space-between;
            margin: 15px 0;
            div {
                @include device(mobile) {
                    text-align: center;
                }
                img {
                    width: 100%;
                    max-width: 325px;
                    @include device(mobile) {
                        width: 95%;
                    }
                }
            }
            &+.card-box {
                div {
                    img {
                        width: 100%;
                        max-width: 200px;
                        @include device(mobile) {
                            width: 95%;
                        }
                    }
                }
            }
        }
    }
    footer {
        .cards-box {
            display: flex;
            justify-content: space-between;
            background: white;
            padding: 10px;
            margin: 25px auto;
            border-radius: 8px;
            img {
                width: 100%;
            }
        }
    }
}