#magazine-details {
    h2 {
        font-size: 30px;
        color: #cccccc;
        text-transform: uppercase;
        text-align: center;
        background: #333333;
        border-top: 1px solid #797979;
        border-bottom: 1px solid #797979;
        padding: 8px 0;
        margin: 20px 0;
    }
}