@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@font-face {
    font-family: "icons";
    src:url("../fonts/icons.woff?v=#{random(99999)}") format("woff");
    font-weight: normal;
    font-style: normal;
}

[class*="icon-"]:before {
    position: relative;
    font-family: "icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak-as: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zoom:before {
    content: "\61";
}

.icon-menu:before {
    content: "\62";
}

.icon-magazine-open:before {
    content: "\63";
}

.icon-dollar-sign:before {
    content: "\64";
}

.icon-credit-card:before {
    content: "\65";
}

.icon-magazine-cover:before {
    content: "\66";
}

/***********END fonts************/

//Fonts
$font-general: 'Roboto',
sans-serif;
$font-icons: 'icons' !important;
//Transitions
$time-default: .35s;
/***********END VARIABLES************/

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body,
button,
ul,
figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-general !important;
    font-size: 22px;
    background: black;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

input[type="reset"],
input[type="submit"],
button {
    appearance: none;
    border: 0;
    cursor: pointer;
    transition: $time-default;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: $time-default;
}

a img {
    display: block;
    border: 0;
}

img {
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

iframe {
    display: block;
    width: 100%;
}

table {
    border-collapse: collapse;
}

small {
    font-size: 80%;
}

/***********END GLOBAL************/

h2 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background: #333333;
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
    padding: 15px 0;
    margin: 20px 0;
    @include device(mobile) {
        font-size: 20px;
    }
}

.container {
    margin: auto;
    width: 100%;
    max-width: 768px;
    padding: 0 15px;
    @include device(full) {
        max-width: 1200px;
    }
}

.modal-nav {
    display: block;
    display: flex;
    flex-direction: column;
    background: #222;
    padding: 10px;
    position: fixed;
    z-index: 9;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    transition: 0.35s;
    &.show-menu {
        left: 0px;
        .icon-menu {
            position: initial;
        }
    }
    @include device(full) {
        left: 0;
    }
    [class*="icon-"] {
        background: black;
        color: white;
        width: 35px;
        height: 35px;
        padding: 6px;
        margin: 2px;
        &:hover {
            background: white;
            color: black;
            span {
                left: 30px;
            }
        }
        span {
            background: white;
            color: black;
            font-size: 14px;
            text-transform: uppercase;
            padding: 9px;
            position: relative;
            bottom: 33px;
            left: -100px;
            z-index: -1;
            box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
            transition: 0.35s;
        }
    }
    .icon-menu {
        position: relative;
        left: 48px;
        background: #555;
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
        @include device(full) {
            display: none;
        }
    }
}

#modal {
    display: none;
}