#magazines {
    header {
        width: 100%;
        margin: 60px 0 0 0;
        padding: 15px 0px 5px 0px;
        border-top: 1px solid #797979;
        background: #222;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 768px;
        }
        .header-box {
            display: flex;
            align-items: center;
            max-width: 130px;
            max-height: 180px;
            margin-right: 15px;
        }
        img {
            width: 100%;
        }
    }
    h4 {
        font-size: 22px;
        color: #cccccc;
        text-transform: uppercase;
        text-align: center;
        background: #333333;
        border-top: 1px solid #797979;
        border-bottom: 1px solid #797979;
        padding: 5px 0;
        margin-bottom: 20px;
        @include device(mobile) {
            font-size: 13px;
        }
    }
    article {
        &.container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div {
                width: 25%;
                max-width: 173px;
                margin-bottom: 15px;
                @include device(mobile) {
                    width: 49%;
                }
                img {
                    width: 100%;
                    outline: 1px solid #222222;
                }
                .img-interactions {
                    display: flex;
                    justify-content: space-between;
                    margin-top: -4px;
                    .icon-magazine-open {
                        color: #555;
                    }
                    /** CHECKBOX FLAT **/
                    .contain {
                        position: relative;
                        right: 25px;
                        cursor: pointer;
                        font-size: 22px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }
                        &:hover input~.checkmark {
                            background-color: #ccc;
                        }
                        input:checked~.checkmark {
                            background-color: #2196F3;
                        }
                        input:checked~.checkmark:after {
                            display: block;
                        }
                        .checkmark:after {
                            left: 7px;
                            top: 2px;
                            width: 9px;
                            height: 15px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 3px;
                        height: 22px;
                        width: 22px;
                        background-color: #555;
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                    }
                    /** END CHECKBOX FLAT **/
                }
            }
        }
    }
}